# web dependencies
web/node_modules/
web/packages/*/node_modules/
web/packages/*/dist/
web/packages/backend/prisma/*.db
web/packages/backend/prisma/*.db-journal
web/packages/frontend/playwright-report/
web/packages/frontend/test-results/
